@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

:root {
  --linear: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
body {
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;

}
.global-padding{
  padding: 0 240px;
}
/* shared css on top */

/* header- nav starts */
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

  }
.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 86.041px;
  height: 40px;
  margin-right: 20px;
}
.logo-text {
  font-size: 2.1rem;
  font-weight: 700;
}

.active-logo-text {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.links a{
  color: black;
  text-decoration: none;
  margin-right: 32px;
  color: #3C354F;
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 500;
}
.link-box {
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.link-box> h5{
  color: #3C354F;
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 500;


}
.link-box img{
  height: 24px;
  width: 24px;
}
/* header- nav ends */
/* Hero section starts */
.hero{
  display: flex;
  height: 700px;
 
}
.hero-left{
  width: 901px;
  
  background-image: url(images/Group\ 14.png) ;
  background-size: cover;
  fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
  padding-left: 240px;
  padding-top: 148px;
  
 
  
}

.hero-header h3{
  color: #0B0223;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 600; 
  text-transform: uppercase;
  margin: 0;
}
.hero-text-highlight{
  text-align: center;
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-description{
  /* gap: 17px; */
}
.hero-description .item{
  display: flex;
  align-items: center;
  margin-bottom: -20px;

}
.item svg{
  margin-right: 12px;
}
.item p{
  color: #534C64;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}
.hero-button{
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 41px;
  padding-bottom: 148px;
}
.btn-1{
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  color: #FFF;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  }
  .btn-2{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;

  }
.hero-right img{
   padding-top: 14px;
   padding-right: 140px;
   margin-left: 68px;
}
/* Hero section Ends */

/* feature box starts */
..feature-box{
  margin-top: 10px;
}
.feature-mother{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 427px;
  /* margin-top: 120px; */
  height: 120vh;
}
.fea-txt{
    text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.faeture-left h2{
  color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
text-align: right;
}
.faeture-left p{
  color: #534C64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

}

.faeture-left{
  margin-right: 80px;
}
.feature-right{
  margin-left: 120px;
  margin-top: 220px;
}

.bg{
  
  height: 100%;
  margin-left: 163px;
}
.over{
  position: relative;
  border-radius: 8px;
  top: -267px;
  
}


/* feature box ends */
/* career section satrs */
.career{
  width: 100%;
  height: 821px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  display: flex;
  flex-direction: column;

}
.mother{
  display: grid;
  grid-template-columns: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left{
  margin-left: 10%;
  
}
.left h1{
  color: #FFF;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.left p{
  color: #FFF;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
  width: 680px;
}
.left-box{
  display: flex;
  /* width: 50%; */
  
}
.left-box-1 p{
  color: #FFF;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 200% */
}
.left-box-2{
  margin-left: -670px;
}
 .left-box-2 p{
  color: #FFF;
  text-align: right;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 200% */
  }
.career-btn{
  padding: 21px 40px;
  font-family: Work Sans;
  font-size: 20px;
  border: none;
  font-weight: 600;
  color: #FF42A5;
  text-transform: uppercase;
  border-radius: 48px;
  background: #FFF;

}
.feature-img img{
  height: 90%;
  margin-left: 90px;
}

.badge img{
  width: 318.5px;
  height: 365.083px;
  border-radius: 8px;
  background: url(images/Rectangle\ 66.png), lightgray 0px -0.304px / 100% 117.229% no-repeat;

  text-align: center;
  position: relative;
  bottom: 260px;
    right: 114px;

}

/* * --------------- game type section start ------------- * */
.gametypeContainer {
  /* background-color: red; */
  background-image: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.flex {
  padding: 45px 0;
  
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.actionButton {
  padding: 10px 14px;
  /* background-color: #fff; */
  color: #0b0223;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #ffffff;
  outline: none;
  border-radius: 1000px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.actionButton:hover {
  color: #f948b2;
  border: 1px solid #f948b2;
}

.actionButton img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
/* * --------------- game type section end   ------------- * */
/* footer starts */
.foot{
  height: 636px;
  background: #0B0223;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
}
.foot-logo{
  display: flex;
  align-items: center;

}
.foot-logo h3{
  color: #FFF;
  
}
.foot-link,.foot-a, .foot-svg{
  display: flex ;
  align-items: center;
  

}
.foot-link a{
  color: #FFF;
  margin-right: 3rem;
  text-decoration: none;
  font-weight: 600;

}
.foot-svg svg{
  margin-right: 3rem;
}
.foot-a p{
  margin-right: 2.8rem;
  color: rgba(255, 255, 255, 0.60);
}

.foot-privacy p{

  color: rgba(255, 255, 255, 0.60);

}


/*  * --------------------------------------------- * */
.videoCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
  gap: 30px;
  justify-items: center;
}

.videoCard {
  position: relative;
  width: 242px;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.videoCard img {
  width: 100%;
  height: 70%; /* Adjust the height of the image as per your requirement */
  object-fit: cover;
  transition: transform 0.3s;
}

.videoCard p {
  margin: 40px 0 0 0;
  color: #534C64;
  text-align: left;
}

.videoCard .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 74%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.videoCard:hover img {
  transform: scale(1.1);
}

.videoCard:hover .overlay {
  opacity: 1;
}

.playIcon {
  width: 50px;
  height: 50px;
  border-left: 20px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.videoCard:hover .playIcon {
  opacity: 1;
}
/*  * --------------------------------------------- * */
.paddingY {
  padding: 100px 0;
}

.gameVideoTextContainer h4 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.gameVideoTextContainer p {
  margin: 0;
  color: #534c64;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}


.textCenter{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}









/* career section Ends */


/* Responsive css */


@media screen and (max-width: 576px) {
  /* Mobile styles */
  nav,   .links, .hero,
  .feature-mother ,.left-box,
  .mother{
    flex-direction: column;
  }
.links{
   align-items: center;
  }
.links a{
  margin-bottom: 36px;
}
.hero{
  flex-direction: column-reverse;
  margin-top: 492px;
}
.hero-right img{
  width: 90%;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 0;
}
.hero-left{
  padding-left: 10px;
  padding-right:  0px;
  width: 100%;
}
.feature-mother{
  margin-left: 0
  ;
}
.faeture-left{
  margin-top: 900px;
  margin-left: 90px;
  
}
.faeture-left h2{

  text-align: center;
}
.feature-right{
  margin-left: 0;
}
.feature-right .bg{
  width: 85%;
  margin-left: 100px;
  height: auto;
}
.feature-right .over{
  position: static;
  padding-left: 120px;
}
.career{
  width: 100vw;
height: 1905px;
margin-top: 700px;
}
.mother{
 margin-top: 700px;
}

.feature-img img{
  width: 135%;
    margin-left: 11px;
    height: auto;

}
.badge img{
  position: static;
  max-width: 300px;
}


.foot-a , .foot-svg , .foot-link{
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.left p{
  width: 90%;
}
.left-box-2 p{
  text-align: ;
}
.career{
  height: auto;
}
.mother {
  margin-top: 0;
}
.right img{
  width: 90%;

}
.back{
  width: 90%;
}
.feature-img img{
  width: 90%;
}
}
/* responsive end */
